/*! CSS Used from: https://cdn.shopify.com/s/files/1/0657/6921/0088/t/154/assets/base.css?v=18550889712136168991665539909 ; media=all */
@media all {
	::selection {
		background-color: rgba(var(--color-foreground), 0.2);
	}
	h1,
	h3 {
		font-family: var(--font-heading-family);
		font-style: var(--font-heading-style);
		font-weight: var(--font-heading-weight);
		letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
		color: rgb(var(--color-foreground));
		line-height: calc(1 + 0.3 / max (1, var(--font-heading-scale)));
		word-break: break-word;
	}
	h1 {
		font-size: calc(var(--font-heading-scale) * 3rem);
	}
	@media only screen and (min-width: 750px) {
		h1 {
			font-size: calc(var(--font-heading-scale) * 4rem);
		}
	}
	h3 {
		font-size: calc(var(--font-heading-scale) * 1.7rem);
	}
	@media only screen and (min-width: 750px) {
		h3 {
			font-size: calc(var(--font-heading-scale) * 1.8rem);
		}
	}
	a:empty,
	div:empty,
	p:empty,
	h1:empty,
	h3:empty {
		display: none;
	}
	*:focus {
		outline: 0;
		box-shadow: none;
	}
}
/*! CSS Used from: Embedded */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0657/6921/0088/t/154/assets/main.css?v=110819234428136606671665539985 */
h1 {
	font-size: 2em;
	margin: 0;
}
a {
	background-color: transparent;
}
img {
	border-style: none;
}
button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
}
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
h1,
h3 {
	font-family: var(--font-heading-family);
	font-weight: var(--font-heading-weight);
	font-style: var(--font-heading-style);
	text-transform: var(--font-heading-text-transform);
	color: var(--c-black);
}
h1 {
	font-size: 2.25rem;
	line-height: 1;
	letter-spacing: 0.02778em;
}
@media (min-width: 1024px) {
	h1 {
		font-size: 3rem;
		line-height: 1;
		letter-spacing: 0.02083em;
	}
}
h3 {
	font-size: 1.5rem;
	line-height: 1.33333;
	letter-spacing: -0.01042em;
	font-family: var(--font-body-family);
	font-weight: 400;
}
@media (min-width: 1024px) {
	h3 {
		font-size: 1.875rem;
		line-height: 1.2;
		letter-spacing: 0;
		font-family: var(--font-body-family);
		font-weight: 500;
	}
}
p {
	font-size: 0.875rem;
	line-height: 1.57143;
	letter-spacing: 0;
	font-family: var(--font-body-family);
	font-weight: var(--font-body-weight);
	font-style: var(--font-body-style);
	color: #1c1714;
}
.container {
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	max-width: 1288px;
}
@media (min-width: 1024px) {
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0657/6921/0088/t/154/assets/page.prismic.css?v=149679278899084892621665540888 ; media=all */
@media all {
	*,
	*:before,
	*:after {
		box-sizing: border-box !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	:active {
		outline: none;
	}
	a {
		color: inherit;
		background-color: transparent;
		text-decoration: none;
		cursor: pointer;
	}
	a:active,
	a:hover {
		outline: 0;
	}
	p,
	h1,
	h3 {
		margin-top: 0;
		font-size: inherit;
		font-weight: inherit;
	}
	p:last-child,
	h1:last-child {
		margin-bottom: 0;
	}
	img {
		max-width: 100%;
		height: auto;
		border-style: none;
		vertical-align: top;
		--aspect-ratio: attr(width) / attr(height);
	}
	button {
		color: inherit;
		font: inherit;
		margin: 0;
	}
	button {
		padding: 0;
		overflow: visible;
		background: none;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
	}
	button {
		text-transform: none;
	}
	button {
		-webkit-appearance: button;
		cursor: pointer;
	}
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	body:not(.is-tabbing) button:focus {
		outline: none;
	}
	br + br {
		display: none;
	}
	p {
		margin: 0;
	}
	.container {
		overflow: hidden;
	}
	.kTYCuM {
		width: 100%;
	}
	.dmuKFi {
		height: 70px;
	}
	@media (max-width: 768px) {
		.dmuKFi {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.dmuKFi {
			height: 50px;
		}
	}
	.iGIhHY {
		height: 30px;
	}
	@media (max-width: 768px) {
		.iGIhHY {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.iGIhHY {
			height: 30px;
		}
	}
	.jOCvxu {
		height: 50px;
	}
	@media (max-width: 768px) {
		.jOCvxu {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.jOCvxu {
			height: 30px;
		}
	}
	.iVwITo {
		height: 70px;
	}
	@media (max-width: 768px) {
		.iVwITo {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.iVwITo {
			height: 30px;
		}
	}
	.tRFPq {
		height: 30px;
	}
	@media (max-width: 768px) {
		.tRFPq {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.tRFPq {
			height: 10px;
		}
	}
	.doDFkn {
		height: 10px;
	}
	@media (max-width: 768px) {
		.doDFkn {
			height: 30px;
		}
	}
	@media (max-width: 428px) {
		.doDFkn {
			height: 2px;
		}
	}
	.deLPpG {
		padding: 0;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		flex-direction: column;
	}
	@media (max-width: 1200px) {
		.deLPpG {
			flex-direction: column;
			padding: 0 30px;
		}
	}
	@media (max-width: 960px) {
		.deLPpG {
			flex-direction: column;
			padding: 0 30px;
		}
	}
	@media (max-width: 768px) {
		.deLPpG {
			flex-direction: column;
			padding: 0 30px;
		}
	}
	@media (max-width: 428px) {
		.deLPpG {
			flex-direction: column;
			padding: 0 15px;
		}
	}
	.cglphd {
		max-width: 1170px;
		width: 100%;
	}
	.kKnHkG {
		font-family: Druk-Super;
		color: #000;
		font-size: 52px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 1.75px;
		margin: 0;
	}
	@media (max-width: 1050px) {
		.kKnHkG {
			font-size: 55px;
			line-height: 47px;
		}
	}
	@media (max-width: 960px) {
		.kKnHkG {
			font-size: 45px;
			line-height: 46px;
		}
	}
	@media (min-width: 429px) {
		.kKnHkG {
			text-align: center;
		}
	}
	@media (max-width: 428px) {
		.kKnHkG {
			font-size: 41px;
			line-height: 37px;
			text-align: center !important;
		}
	}
	.eTMvZI {
		text-transform: uppercase;
		font-size: 15px;
		font-family: FiraSans-light;
		height: 40px;
		padding: 2px 20px;
		min-width: 180px;
		border: none;
		border-radius: 7px;
		margin-top: 20px;
		cursor: pointer;
		background-color: #000;
		color: #fff;
	}
	.hhbHrm {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		max-width: 1170px;
		gap: 20px;
	}
	@media (max-width: 768px) {
		.hhbHrm {
			flex-direction: column;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 428px) {
		.hhbHrm {
			flex-direction: column;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.ggNaCW {
		display: flex;
		flex-direction: column;
	}
	.eJBLtc {
		display: block;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (max-width: 1200px) {
		.eJBLtc {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 768px) {
		.eJBLtc {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 428px) {
		.eJBLtc {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	.HYkKb {
		display: flex;
		flex-direction: column;
		-webkit-box-pack: center;
		justify-content: center;
	}
	.eCxdGt {
		font-family: FiraSans-light;
		line-height: 18px;
		text-align: center;
	}
	.eCxdGt h3 {
		font-family: FiraSans-semibold;
		margin-top: 0;
		margin-bottom: 2px;
	}
	.eCxdGt br {
		display: block !important;
	}
	.fcQNYW {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: 1170px;
	}
	@media (max-width: 1200px) {
		.fcQNYW {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 768px) {
		.fcQNYW {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 428px) {
		.fcQNYW {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	.czcSvM {
		width: 100%;
	}
	.cDHBDt {
		display: block;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (max-width: 1200px) {
		.cDHBDt {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 768px) {
		.cDHBDt {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media (max-width: 428px) {
		.cDHBDt {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	.jxGaei {
		display: flex;
		flex-direction: column;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;
	}
	.ldITJB {
		font-family: UntitledSerif;
		font-size: 47px;
		line-height: 46px;
		width: 80%;
		align-self: center;
	}
	@media (max-width: 960px) {
		.ldITJB {
			width: 95%;
		}
	}
	@media (max-width: 428px) {
		.ldITJB {
			line-height: 38px;
			font-size: 35px;
		}
	}
	.ioxMly {
		margin-bottom: 65px;
	}
	@media (max-width: 428px) {
		.ioxMly {
			margin-bottom: 45px;
		}
	}
}
/*! CSS Used from: Embedded */
p {
	margin: 0;
}
.container {
	overflow: hidden;
}
/*! CSS Used from: Embedded */
.kTYCuM {
	width: 100%;
}
.dmuKFi {
	height: 70px;
}
@media (max-width: 768px) {
	.dmuKFi {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.dmuKFi {
		height: 50px;
	}
}
.iGIhHY {
	height: 30px;
}
@media (max-width: 768px) {
	.iGIhHY {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.iGIhHY {
		height: 30px;
	}
}
.jOCvxu {
	height: 50px;
}
@media (max-width: 768px) {
	.jOCvxu {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.jOCvxu {
		height: 30px;
	}
}
.iVwITo {
	height: 70px;
}
@media (max-width: 768px) {
	.iVwITo {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.iVwITo {
		height: 30px;
	}
}
.tRFPq {
	height: 30px;
}
@media (max-width: 768px) {
	.tRFPq {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.tRFPq {
		height: 10px;
	}
}
.doDFkn {
	height: 10px;
}
@media (max-width: 768px) {
	.doDFkn {
		height: 30px;
	}
}
@media (max-width: 428px) {
	.doDFkn {
		height: 2px;
	}
}
.deLPpG {
	padding: 0px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
}
@media (max-width: 1200px) {
	.deLPpG {
		flex-direction: column;
		padding: 0px 30px;
	}
}
@media (max-width: 960px) {
	.deLPpG {
		flex-direction: column;
		padding: 0px 30px;
	}
}
@media (max-width: 768px) {
	.deLPpG {
		flex-direction: column;
		padding: 0px 30px;
	}
}
@media (max-width: 428px) {
	.deLPpG {
		flex-direction: column;
		padding: 0px 15px;
	}
}
.cglphd {
	max-width: 1170px;
	width: 100%;
}
.kKnHkG {
	font-family: Druk-Super;
	color: black;
	font-size: 52px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1.75px;
	margin: 0px;
}
@media (max-width: 1050px) {
	.kKnHkG {
		font-size: 55px;
		line-height: 47px;
	}
}
@media (max-width: 960px) {
	.kKnHkG {
		font-size: 45px;
		line-height: 46px;
	}
}
@media (min-width: 429px) {
	.kKnHkG {
		text-align: center;
	}
}
@media (max-width: 428px) {
	.kKnHkG {
		font-size: 41px;
		line-height: 37px;
		text-align: center !important;
	}
}
.eTMvZI {
	text-transform: uppercase;
	font-size: 15px;
	font-family: FiraSans-light;
	height: 40px;
	padding: 2px 20px;
	min-width: 180px;
	border: none;
	border-radius: 7px;
	margin-top: 20px;
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
.hhbHrm {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 1170px;
	gap: 20px;
}
@media (max-width: 768px) {
	.hhbHrm {
		flex-direction: column;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 428px) {
	.hhbHrm {
		flex-direction: column;
		grid-template-columns: repeat(1, 1fr);
	}
}
.ggNaCW {
	display: flex;
	flex-direction: column;
}
.eJBLtc {
	display: block;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1200px) {
	.eJBLtc {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 768px) {
	.eJBLtc {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 428px) {
	.eJBLtc {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.HYkKb {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}
.eCxdGt {
	font-family: FiraSans-light;
	line-height: 18px;
	text-align: center;
}
.eCxdGt h3 {
	font-family: FiraSans-semibold;
	margin-top: 0px;
	margin-bottom: 2px;
}
.eCxdGt br {
	display: block !important;
}
.fcQNYW {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
}
@media (max-width: 1200px) {
	.fcQNYW {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 768px) {
	.fcQNYW {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 428px) {
	.fcQNYW {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.czcSvM {
	width: 100%;
}
.cDHBDt {
	display: block;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1200px) {
	.cDHBDt {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 768px) {
	.cDHBDt {
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (max-width: 428px) {
	.cDHBDt {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.jxGaei {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
}
.ldITJB {
	font-family: UntitledSerif;
	font-size: 47px;
	line-height: 46px;
	width: 80%;
	align-self: center;
}
#react-app > .container {
	max-width: 100%;
	padding: 0;
}

#react-app div:empty {
	display: block;
}

@media (max-width: 960px) {
	.ldITJB {
		width: 95%;
	}
}
@media (max-width: 428px) {
	.ldITJB {
		line-height: 38px;
		font-size: 35px;
	}
}
.ioxMly {
	margin-bottom: 65px;
}
@media (max-width: 428px) {
	.ioxMly {
		margin-bottom: 45px;
	}
}
/*! CSS Used fontfaces */
@font-face {
	font-family: Druk-Super;
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/Druk-Super.otf?v=1630561770)
		format('truetype');
	src: local('Druk-Super'), local('Druk-Super'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/Druk-Super.otf?v=1630561770)
			format('truetype');
}
@font-face {
	font-family: 'Druk-Super';
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/Druk-Super.otf?v=1630561770)
		format('truetype');
	src: local('Druk-Super'), local('Druk-Super'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/Druk-Super.otf?v=1630561770)
			format('truetype');
}
@font-face {
	font-family: FiraSans-light;
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/FiraSans-Light.ttf?v=1630561770)
		format('truetype');
	src: local('FiraSans-light'), local('FiraSans-light'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/FiraSans-Light.ttf?v=1630561770)
			format('truetype');
}
@font-face {
	font-family: 'FiraSans-light';
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/FiraSans-Light.ttf?v=1630561770)
		format('truetype');
	src: local('FiraSans-light'), local('FiraSans-light'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/FiraSans-Light.ttf?v=1630561770)
			format('truetype');
}
@font-face {
	font-family: UntitledSerif;
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/UntitledSerif-Regular.otf?v=1630561770)
		format('truetype');
	src: local('UntitledSerif'), local('UntitledSerif'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/UntitledSerif-Regular.otf?v=1630561770)
			format('truetype');
}
@font-face {
	font-family: 'UntitledSerif';
	src: url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/UntitledSerif-Regular.otf?v=1630561770)
		format('truetype');
	src: local('UntitledSerif'), local('UntitledSerif'),
		url(https://cdn.shopify.com/s/files/1/0588/3409/2237/files/UntitledSerif-Regular.otf?v=1630561770)
			format('truetype');
}
