/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.11.0_webpack@5.95.0/node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/.pnpm/postcss-loader@8.1.1_postcss@8.4.47_webpack@5.95.0/node_modules/postcss-loader/dist/cjs.js!./node_modules/.pnpm/style-resources-loader@1.5.0_webpack@5.95.0/node_modules/style-resources-loader/lib/index.js??ruleSet[1].rules[1].use[3]!./src/styles/overrides/section/account-promotion-banner.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.product-linked__item.two-color {
  display: flex;
  /* margin: 1.5px; */
  min-width: 18px;
  min-height: 18px;
}

.product-linked__item.two-color > span {
  width: 50%;
  border-radius: 0;
}

.product-linked__item.product-linked__item--active.two-color {
  padding: 1px;
  border-color: #fff;
  outline: 1px solid #353332;
}

.product-linked__item {
}

.tw-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tw-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.tw-aspect-landscape {
  aspect-ratio: 1.772;
}

.tw-aspect-portrait {
  aspect-ratio: 0.80097087;
}

.capsule-collections-landscape {
  width: 292px;
}

@media (min-width: 768px) {

  .capsule-collections-landscape {
    width: 445px;
  }
}

.capsule-collections-portrait {
  width: 176px;
}

@media (min-width: 768px) {

  .capsule-collections-portrait {
    width: 330px;
  }
}

.capsule-collections-aspect-landscape {
  aspect-ratio: 1.772;
}

.capsule-collections-aspect-portrait {
  aspect-ratio: 0.80097087;
}

/* Account Promotion Banner Styles */

.account-promo-background {
  position: relative;
  width: 100%;
  height: 197px;
}

@media screen and (max-width: 576px) {
  .account-promo-background {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) {
  .account-promo-background {
    margin-bottom: 52px;
  }
}

.account-promo-background {
  position: relative;
  width: 100%;
  height: 197px;
}

.account-promo-background a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 197px;
}

.account-promo-background img {
  max-width: 100%;
  border-style: none;
  vertical-align: top;
  --aspect-ratio: attr(width) / attr(height);
}

.account-promo-background img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-promo-background .account-promo-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.account-promo-background .account-promo-content-wrapper h2 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

